@import "../../shared/styles/variables.scss";

.catalogItem {
  $headerSize: 65px;
  $descriptionSize: 75px;

  &Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    row-gap: 10px;
    width: 300px;
  }

  &Link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    > div {
      min-height: 270px;
      width: 90%;
      font-size: 0;
      border: 1px solid transparent;
      > img {
        border-radius: 10px;
      }
    }

    > h2 {
      font-size: 1.5rem;
      font-weight: $font-bold;
      height: $headerSize;
      overflow-y: auto;
    }
  }

  &Description {
    height: $descriptionSize;
    overflow-y: auto;
    padding-right: 5px;
  }

  &Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    > div {
      font-weight: $font-bold;
      font-size: 1.3rem;
    }
  }
}
