@import "../../shared/styles/variables.scss";

.CatalogItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 20px;
  width: 300px;

  img {
    min-height: 270px;
    width: 90%;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: $font-bold;
    height: 57px;
    overflow-y: auto;
  }
}

.selector {
  display: flex;
  flex-direction: column;
  background-color: $gray-bg;
  border-radius: 10px;
  padding: 6px;
  row-gap: 6px;

  @include noselect();

  > ul {
    display: flex;
    flex-grow: 1;

    > li {
      padding: 8px;
      flex: 1;
      cursor: pointer;
      font-weight: $font-semibold;
      font-size: 0.875rem;

      &.active {
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        cursor: auto;
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    font-weight: $font-bold;
    font-size: 1.3rem;
  }

  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-radius: 30px;
    padding: 7px 10px;
    cursor: pointer;
    border: 1px solid $orange;
    background-color: #fff;
    @include noselect();
    transition: all $duration ease-in-out;

    span,
    svg path {
      color: $orange;
      font-weight: $font-bold;
      transition: all $duration ease-in-out;
    }

    i {
      transition: all $duration ease-in-out;
      display: inline-block;
      border-radius: 30px;
      background-color: $orange;
      color: #fff;
      font-weight: $font-bold;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
    }

    &:hover {
      background-color: $orange;

      span {
        color: #fff;
      }

      svg path {
        fill: #fff;
      }

      i {
        background-color: #fff;
        color: $orange;
      }
    }

    &:active {
      background-color: darken($orange, 8%);
    }
  }
}
