@import "./variables.scss";

html {
  background-color: $color-darkBackground;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: $black;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}
