@import "./fonts.scss";

$body-font: "Nunito", sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;

$basic-font-size: 16px;
$z-fixed: 10;

$black: #232323;
$color-darkBackground: rgba(150, 155, 214, 1);
$color-mediumBackground: #f9f9f9;
$color-lightBackground: rgb(237, 238, 250);
$gray-line: rgba(150, 155, 214, 0.5);
$color-theme: rgba(84, 42, 81, 1);

$text-black: #232323;
$text-gray: #7b7b7b;

$container-width: 90%;
$duration: 0.2s;

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin container {
  width: 90%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
}
