@import "../shared/styles/variables.scss";

.appContainer {
  width: calc(100vw - 100px);
  // height: 100%;
  background-color: $color-lightBackground;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
  font-family: $body-font;

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: $color-mediumBackground;
  border-radius: 0.5rem;

  &-thumb {
    background-color: $color-theme;
    border-radius: 0.5rem;
  }
}
