@import "../../shared/styles/variables.scss";

.cartItem {
  display: flex;
  width: 100%;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr auto;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid $gray-line;

  button {
    cursor: pointer;
  }
}

.info {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  img {
    width: 80px;
    height: 80px;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: $font-bold;
    height: 57px;
    overflow-y: auto;
  }

  p {
    font-size: 1rem;
    color: $text-gray;
  }
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-theme;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
    border-width: 2px;
    color: $color-theme;
    background-color: inherit;
    transition: all $duration ease-in-out;

    @include noselect();

    svg path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      background-color: $color-theme;
      svg path {
        fill: $color-lightBackground;
      }
    }

    &:active {
      background-color: darken($color-theme, 15%);
      border-color: darken($color-theme, 15%);
    }
  }

  b {
    font-size: 1.25rem;
    width: 50px;
    text-align: center;
  }
}

.price {
  justify-self: center;
  max-width: 105px;
  overflow: hidden;
  font-weight: $font-bold;
  font-size: 1.5rem;
}

.remove {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: 1px solid darken($gray-line, 15%);
  border-radius: 50%;
  padding: 2px;
  transition: all $duration ease-in-out;

  svg {
    width: 1.5rem;
    height: 1.5rem;

    path {
      transition: all $duration ease-in-out;
      fill: darken($gray-line, 15%);
    }
  }

  &:hover {
    background-color: darken($gray-line, 70%);
    border-color: darken($gray-line, 70%);
  }

  &:active {
    background-color: darken($gray-line, 80%);
    border-color: darken($gray-line, 80%);
  }
}

@media screen and (max-width: 768px) {
  .cartItem {
    grid-template-columns: 2fr 1fr auto;
    grid-template-rows: repeat(2, 1fr);
  }

  .info {
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 550px) {
  .cartItem {
    padding: 10px 0;
    gap: 10px;
  }

  .info {
    gap: 8px;
    h3 {
      font-size: 1.25rem;
      height: 57px;
    }
    p {
      font-size: 0.875rem;
    }
  }

  .count {
    gap: 8px;

    > button {
      width: 25px;
      height: 25px;
    }
    b {
      font-size: 1rem;
    }
  }

  .price {
    font-size: 1rem;
  }
}
