@import "../../shared/styles/variables.scss";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 0 0 20px;
  display: grid;
  row-gap: 30px;
  grid-template-columns: 2fr 3fr auto;
  grid-template-rows: auto;
  align-items: center;
}

.logo {
  display: flex;
  column-gap: 15px;

  > img {
    width: 38px;
  }

  h1 {
    color: $text-black;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: $font-extrabold;
  }

  p {
    color: $text-gray;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;

  > input {
    padding: 20px 35px;
    width: 100%;
    height: 35px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 1rem;
    color: $text-black;
    background-color: $color-mediumBackground;

    &:focus {
      outline: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.icon {
  &Search {
    position: absolute;
    left: 8px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
  }

  &ClearSearch {
    position: absolute;
    right: 8px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
  }

  &Cart {
    color: $color-lightBackground;
  }
}

.cart {
  background-color: $color-theme;
  border-radius: 30px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 25px;
  max-width: 200px;
  transition: all $duration ease-in-out;
  gap: 15px;
  justify-self: flex-end;

  @include noselect();

  .price {
    font-weight: $font-semibold;
    color: $color-lightBackground;
    word-spacing: 2px;
  }

  .iconCartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-lightBackground;
    font-weight: $font-semibold;
    gap: 2px;
  }

  &:hover {
    background-color: darken($color-theme, 8%);
  }

  &:active {
    background-color: darken($color-theme, 12%);
  }
}

.return {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  > button {
    border: 1px solid transparent;
    font-weight: $font-medium;
    font-size: 1.25rem;
    background-color: $color-theme;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    @include noselect();

    > span {
      color: $color-lightBackground;
    }

    &:hover {
      background-color: darken($color-theme, 8%);
    }

    &:active {
      background-color: darken($color-theme, 12%);
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

  .search {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    justify-self: center;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    column-gap: 10px;
    > img {
      width: 30px;
    }

    h1 {
      font-size: 1rem;
    }

    p {
      font-size: 0.875rem;
    }
  }

  .cart {
    padding: 8px 20px;

    span {
      font-size: 0.875rem;
      word-spacing: 3px;
    }
  }
}

@media screen and (max-width: 450px) {
  .header {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  }

  .cart {
    justify-self: center;
  }

  .return {
    justify-content: center;
    > a {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
}
